<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- <meta name="theme-color" content="#201511"> -->

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<!-- Font EXO CSS -->
		<link href="https://fonts.googleapis.com/css?family=Exo:400,500,500i" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.0.2/bootstrap-social.css"  rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			 <!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../javascript/functions.js"></script>

		<title> POR UM TITULO </title>

		<link href="../css/custom.css" rel="stylesheet">

	</head>

	<body onload="popularCombo('marcasCombo', 'http://fipeapi.appspot.com/api/1/carros/marcas.json'); ativarElemento('pMarca'); ativarElemento('marcasCombo')">
		<div class="container ">
			<section class="row"  id="head">
				<img class="imagem" src="../images/creditas.png" style="margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 30px;  width: 25%;"/>
		    </section>

			<section class="row" >

				<div class="col-sm-12">

			    	</div>

			    	<div class=col-sm-4></div>
			    	<div class="col-sm-4">
			    		<p style="text-align: center;"> Informe os dados do seu veículo </p>
			    		<a href="#">
			    			<p style="text-align: center; font-size: 0.8em; color: blue">
			    				<u>Não tenho veículo próprio</u>
			    			</p>
			    		</a>
			    		<p id="pMarca" hidden="true">Marca:</p>
					<select class="tamanho-caixas form-control" id="marcasCombo" hidden="true" onchange="fazerConsultaFipe(this, 'carrosCombo', 'http://fipeapi.appspot.com/api/1/carros/veiculos/'); ativarElemento('pModelo')"></select><br/>
					<p id="pModelo" hidden="true">Modelo:</p>
					<select id="carrosCombo" class="tamanho-caixas form-control" hidden="true" disabled="true" onchange="fazerConsultaFipe(this, 'carrosAnoCombo', 'http://fipeapi.appspot.com/api/1/carros/veiculo/'); ativarElemento('pAnoFab')"></select><br/>
					<p id="pAnoFab" hidden="true">Ano de fabricação:</p>
					<select id="carrosAnoCombo" class="tamanho-caixas form-control" hidden="true" disabled="true" onchange="ativarElemento('btnCalcular')"></select>
				</div>
				<div class=col-sm-4></div>
			</section>

			<section class="row">
				<div class=col-sm-4></div>
				<div class="col-sm-4">
					<button class="button-donate disabled"  id="btnCalcular" onclick="getValorJson('carrosAnoCombo','http://fipeapi.appspot.com/api/1/carros/veiculo/');ativarElemento('btnPropostas')">Calcular</button><br>
				</div>
				<div class=col-sm-4></div>
			</section>

			<section class="row">
				<div class=col-sm-4></div>
				<div class="col-sm-4">
					<p><b>Nome do veículo:</b></p>
					<p id='nome'></p>
					<p><b>Valor do veículo:</b></p>
					<p id='valor'></p>
					<form action="propostas.html">
					    <button id="btnPropostas" type="submit" class="button-donate disabled" onclick="salvarDadosVeiculo('nome', 'valor')">VER MINHAS OPÇÕES</button>
					</form>
				</div>
				<div class=col-sm-4></div>
			</section>
	    	</div>

	</body>
</html>