<html>
	<head>
		<meta charset="utf-8">
		<title> == TITULO ==</title>
		
	</head>

	<body>
		<h1> Formulário </h1>
		<p>Preencha os campos abaixo</p>

		<form>
			Nome completo <br><input type="text" name="name"><br>
			Data de nascimento <br><input type="text" name="datanasc"><br>
			Celular <br><input type="text" name="celular"><br>
			E-mail <br><input type="text" name="email"><br>
			CEP <br><input type="text" name="cep"><br>
			
		</form>
		
		<a href="segundoForm.html"><button>BUTÃO</button></a>
	</body>
</html>