<html>
	<head>
		<meta charset="utf-8">
		<title> Propostas </title>
		
	</head>

	<body>
		<h1> Propostas </h1>
		<p>Preencha os campos abaixo</p>

		<form>

    		Renda mensal <br><input type="text" name="renda"><br>
			Seu veículo está financiado?<br>
				<input type="radio" name="financiado" value="sim" checked> Sim
  				<input type="radio" name="financiado" value="nao"> Não<br>

		</form>
		
		<a href="primeiroForm.html"><button>BUTÃO</button></a>
		<a href="../index.html"><button>Sair</button></a>

		<br>== ao cliar no botao sair, mostrar uma janela perguntando o por que da desistência
	</body>
</html>